<div class="m-5">
  <div data-controller="toggle">
    <button data-action="click->toggle#toggle" class="btn btn-primary mb-3">トグルボタン</button>
    <p data-toggle-target="content">ここが表示/非表示されます</p>
  </div>
</div>
